In [173]:
#Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from keras import Sequential
from keras.layers import Dense

In [174]:
dataset = pd.read_csv('/content/train.csv')
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [175]:
titanic = dataset.drop(columns = ['Name', 'Cabin', 'Ticket'])
titanic

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,male,22.0,1,0,7.2500,S
1,2,1,1,female,38.0,1,0,71.2833,C
2,3,1,3,female,26.0,0,0,7.9250,S
3,4,1,1,female,35.0,1,0,53.1000,S
4,5,0,3,male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,13.0000,S
887,888,1,1,female,19.0,0,0,30.0000,S
888,889,0,3,female,NaN,1,2,23.4500,S
889,890,1,1,male,26.0,0,0,30.0000,C
890,891,0,3,male,32.0,0,0,7.7500,Q

In [176]:
titanic = titanic.dropna(subset = ['Age', 'Embarked'])
titanic

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,male,22.0,1,0,7.2500,S
1,2,1,1,female,38.0,1,0,71.2833,C
2,3,1,3,female,26.0,0,0,7.9250,S
3,4,1,1,female,35.0,1,0,53.1000,S
4,5,0,3,male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
885,886,0,3,female,39.0,0,5,29.1250,Q
886,887,0,2,male,27.0,0,0,13.0000,S
887,888,1,1,female,19.0,0,0,30.0000,S
889,890,1,1,male,26.0,0,0,30.0000,C
890,891,0,3,male,32.0,0,0,7.7500,Q

In [177]:
titanic['Sex'].unique()

array(['male', 'female'], dtype=object)

In [178]:
titanic['Embarked'].unique()

array(['S', 'C', 'Q'], dtype=object)

In [179]:
sex = {'male': 1,'female': 0}
embark = {'S': 0,'Q': 1, 'C': 2}

In [180]:
titanic['Sex'].replace(sex, inplace=True)
titanic['Embarked'].replace(embark, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [181]:
titanic.describe()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
count,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000
mean,448.589888,0.404494,2.240169,0.636236,29.642093,0.514045,0.432584,34.567251,0.404494
std,258.683191,0.491139,0.836854,0.481420,14.492933,0.930692,0.854181,52.938648,0.779038
min,1.000000,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,222.750000,0.000000,1.000000,0.000000,20.000000,0.000000,0.000000,8.050000,0.000000
50%,445.000000,0.000000,2.000000,1.000000,28.000000,0.000000,0.000000,15.645850,0.000000
75%,677.250000,1.000000,3.000000,1.000000,38.000000,1.000000,1.000000,33.000000,0.000000
max,891.000000,1.000000,3.000000,1.000000,80.000000,5.000000,6.000000,512.329200,2.000000

In [182]:
X = titanic.drop(columns = ['Survived'])
y = titanic ['Survived']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25)

In [183]:
#Applying Neural Network
model = Sequential()
model.add(Dense(12, input_dim=8, activation='relu'))
model.add(Dense(15, activation='relu'))
model.add(Dense(5, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X, y, epochs=150, batch_size=30)

Epoch 1/150
24/24 [==============================] - 1s 2ms/step - loss: 1.3120 - accuracy: 0.5955
Epoch 2/150
24/24 [==============================] - 0s 2ms/step - loss: 1.0189 - accuracy: 0.6404
Epoch 3/150
24/24 [==============================] - 0s 2ms/step - loss: 0.8804 - accuracy: 0.6306
Epoch 4/150
24/24 [==============================] - 0s 2ms/step - loss: 0.7926 - accuracy: 0.6433
Epoch 5/150
24/24 [==============================] - 0s 2ms/step - loss: 0.7164 - accuracy: 0.6742
Epoch 6/150
24/24 [==============================] - 0s 2ms/step - loss: 0.7017 - accuracy: 0.6531
Epoch 7/150
24/24 [==============================] - 0s 2ms/step - loss: 0.6475 - accuracy: 0.6671
Epoch 8/150
24/24 [==============================] - 0s 2ms/step - loss: 0.6387 - accuracy: 0.6685
Epoch 9/150
24/24 [==============================] - 0s 2ms/step - loss: 0.6286 - accuracy: 0.6699
Epoch 10/150
24/24 [==============================] - 0s 3ms/step - loss: 0.6514 - accuracy: 0.6419
Epoch 11/150
24/24 [==============================] - 0s 2ms/step - loss: 0.6351 - accuracy: 0.6713
Epoch 12/150
24/24 [==============================] - 0s 2ms/step - loss: 0.6479 - accuracy: 0.6615
Epoch 13/150
24/24 [==============================] - 0s 2ms/step - loss: 0.6515 - accuracy: 0.6601
Epoch 14/150
24/24 [==============================] - 0s 2ms/step - loss: 0.6042 - accuracy: 0.6770
Epoch 15/150
24/24 [==============================] - 0s 2ms/step - loss: 0.6313 - accuracy: 0.6601
Epoch 16/150
24/24 [==============================] - 0s 2ms/step - loss: 0.6163 - accuracy: 0.6728
Epoch 17/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5929 - accuracy: 0.6826
Epoch 18/150
24/24 [==============================] - 0s 2ms/step - loss: 0.6531 - accuracy: 0.6587
Epoch 19/150
24/24 [==============================] - 0s 2ms/step - loss: 0.6661 - accuracy: 0.6699
Epoch 20/150
24/24 [==============================] - 0s 2ms/step - loss: 0.6192 - accuracy: 0.6966
Epoch 21/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5964 - accuracy: 0.7022
Epoch 22/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5917 - accuracy: 0.7051
Epoch 23/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5975 - accuracy: 0.7093
Epoch 24/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5852 - accuracy: 0.7107
Epoch 25/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5923 - accuracy: 0.7093
Epoch 26/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5724 - accuracy: 0.7163
Epoch 27/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5858 - accuracy: 0.7177
Epoch 28/150
24/24 [==============================] - 0s 3ms/step - loss: 0.5795 - accuracy: 0.7051
Epoch 29/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5823 - accuracy: 0.7149
Epoch 30/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5815 - accuracy: 0.7008
Epoch 31/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5822 - accuracy: 0.7051
Epoch 32/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5646 - accuracy: 0.7289
Epoch 33/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5712 - accuracy: 0.7317
Epoch 34/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5668 - accuracy: 0.7205
Epoch 35/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5684 - accuracy: 0.7107
Epoch 36/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5510 - accuracy: 0.7374
Epoch 37/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5666 - accuracy: 0.7191
Epoch 38/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5563 - accuracy: 0.7346
Epoch 39/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5673 - accuracy: 0.7135
Epoch 40/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5679 - accuracy: 0.7289
Epoch 41/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5578 - accuracy: 0.7275
Epoch 42/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5914 - accuracy: 0.7107
Epoch 43/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5893 - accuracy: 0.6924
Epoch 44/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5583 - accuracy: 0.7303
Epoch 45/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5469 - accuracy: 0.7444
Epoch 46/150
24/24 [==============================] - 0s 3ms/step - loss: 0.5828 - accuracy: 0.6938
Epoch 47/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5575 - accuracy: 0.7289
Epoch 48/150
24/24 [==============================] - 0s 2ms/step - loss: 0.6035 - accuracy: 0.6896
Epoch 49/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5429 - accuracy: 0.7444
Epoch 50/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5421 - accuracy: 0.7458
Epoch 51/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5383 - accuracy: 0.7289
Epoch 52/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5644 - accuracy: 0.7191
Epoch 53/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5332 - accuracy: 0.7402
Epoch 54/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5524 - accuracy: 0.7205
Epoch 55/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5303 - accuracy: 0.7416
Epoch 56/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5259 - accuracy: 0.7430
Epoch 57/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5353 - accuracy: 0.7388
Epoch 58/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5245 - accuracy: 0.7444
Epoch 59/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5281 - accuracy: 0.7472
Epoch 60/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5491 - accuracy: 0.7388
Epoch 61/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5343 - accuracy: 0.7303
Epoch 62/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5277 - accuracy: 0.7486
Epoch 63/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5431 - accuracy: 0.7444
Epoch 64/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5250 - accuracy: 0.7430
Epoch 65/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5537 - accuracy: 0.7303
Epoch 66/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5348 - accuracy: 0.7444
Epoch 67/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5275 - accuracy: 0.7317
Epoch 68/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5229 - accuracy: 0.7430
Epoch 69/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5246 - accuracy: 0.7402
Epoch 70/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5217 - accuracy: 0.7486
Epoch 71/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5155 - accuracy: 0.7556
Epoch 72/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5083 - accuracy: 0.7486
Epoch 73/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5041 - accuracy: 0.7654
Epoch 74/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5052 - accuracy: 0.7556
Epoch 75/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5041 - accuracy: 0.7711
Epoch 76/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5130 - accuracy: 0.7514
Epoch 77/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5047 - accuracy: 0.7584
Epoch 78/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5073 - accuracy: 0.7486
Epoch 79/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4991 - accuracy: 0.7612
Epoch 80/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4913 - accuracy: 0.7584
Epoch 81/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5058 - accuracy: 0.7458
Epoch 82/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5068 - accuracy: 0.7556
Epoch 83/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5115 - accuracy: 0.7472
Epoch 84/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5059 - accuracy: 0.7542
Epoch 85/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5023 - accuracy: 0.7598
Epoch 86/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4947 - accuracy: 0.7584
Epoch 87/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5375 - accuracy: 0.7458
Epoch 88/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4994 - accuracy: 0.7514
Epoch 89/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5042 - accuracy: 0.7528
Epoch 90/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5041 - accuracy: 0.7528
Epoch 91/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4966 - accuracy: 0.7612
Epoch 92/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5160 - accuracy: 0.7612
Epoch 93/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4978 - accuracy: 0.7458
Epoch 94/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4974 - accuracy: 0.7570
Epoch 95/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4819 - accuracy: 0.7711
Epoch 96/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5287 - accuracy: 0.7289
Epoch 97/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5024 - accuracy: 0.7654
Epoch 98/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4944 - accuracy: 0.7640
Epoch 99/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4828 - accuracy: 0.7711
Epoch 100/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4857 - accuracy: 0.7725
Epoch 101/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4859 - accuracy: 0.7683
Epoch 102/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4784 - accuracy: 0.7851
Epoch 103/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4959 - accuracy: 0.7781
Epoch 104/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4769 - accuracy: 0.7753
Epoch 105/150
24/24 [==============================] - 0s 3ms/step - loss: 0.4753 - accuracy: 0.7795
Epoch 106/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4727 - accuracy: 0.7837
Epoch 107/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4734 - accuracy: 0.7837
Epoch 108/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4835 - accuracy: 0.7739
Epoch 109/150
24/24 [==============================] - 0s 3ms/step - loss: 0.4853 - accuracy: 0.7556
Epoch 110/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4747 - accuracy: 0.7865
Epoch 111/150
24/24 [==============================] - 0s 2ms/step - loss: 0.5044 - accuracy: 0.7514
Epoch 112/150
24/24 [==============================] - 0s 3ms/step - loss: 0.5663 - accuracy: 0.7205
Epoch 113/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4726 - accuracy: 0.7949
Epoch 114/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4786 - accuracy: 0.7753
Epoch 115/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4759 - accuracy: 0.7893
Epoch 116/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4806 - accuracy: 0.7893
Epoch 117/150
24/24 [==============================] - 0s 3ms/step - loss: 0.4789 - accuracy: 0.7725
Epoch 118/150
24/24 [==============================] - 0s 3ms/step - loss: 0.4842 - accuracy: 0.7781
Epoch 119/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4793 - accuracy: 0.7837
Epoch 120/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4778 - accuracy: 0.7851
Epoch 121/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4650 - accuracy: 0.7837
Epoch 122/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4606 - accuracy: 0.7851
Epoch 123/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4570 - accuracy: 0.7893
Epoch 124/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4813 - accuracy: 0.7781
Epoch 125/150
24/24 [==============================] - 0s 3ms/step - loss: 0.4561 - accuracy: 0.7725
Epoch 126/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4705 - accuracy: 0.7795
Epoch 127/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4717 - accuracy: 0.7978
Epoch 128/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4670 - accuracy: 0.7893
Epoch 129/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4739 - accuracy: 0.7767
Epoch 130/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4960 - accuracy: 0.7640
Epoch 131/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4699 - accuracy: 0.7851
Epoch 132/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4558 - accuracy: 0.7879
Epoch 133/150
24/24 [==============================] - 0s 3ms/step - loss: 0.4574 - accuracy: 0.7978
Epoch 134/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4832 - accuracy: 0.7626
Epoch 135/150
24/24 [==============================] - 0s 3ms/step - loss: 0.4632 - accuracy: 0.7935
Epoch 136/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4698 - accuracy: 0.7921
Epoch 137/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4631 - accuracy: 0.8006
Epoch 138/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4563 - accuracy: 0.7992
Epoch 139/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4512 - accuracy: 0.7949
Epoch 140/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4594 - accuracy: 0.7978
Epoch 141/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4903 - accuracy: 0.7767
Epoch 142/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4788 - accuracy: 0.7809
Epoch 143/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4642 - accuracy: 0.7879
Epoch 144/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4468 - accuracy: 0.7879
Epoch 145/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4500 - accuracy: 0.7963
Epoch 146/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4774 - accuracy: 0.7879
Epoch 147/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4488 - accuracy: 0.7949
Epoch 148/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4629 - accuracy: 0.7907
Epoch 149/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4583 - accuracy: 0.7865
Epoch 150/150
24/24 [==============================] - 0s 2ms/step - loss: 0.4570 - accuracy: 0.7781

In [184]:
#Display accuracy
_,accuracy = model.evaluate(X,y)
accuracy

23/23 [==============================] - 0s 2ms/step - loss: 0.4390 - accuracy: 0.7963

0.7963483333587646